<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.shelf.mapper.MyDocMapper">
    <update id="incrementViewCount" parameterType="java.lang.Long">
        update doc set view_count = view_count + 1 where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="incrementVoteCount" parameterType="java.lang.Long">
        update doc set vote_count = vote_count + 1 where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>